# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore build output
bin/

# Ignore Oracle Graph packages
oracle-graph-client-20.1.0/
oracle-graph-client-20.1.0.zip

# Ignore IDE settings
.settings/
.project
x2oracle.code-workspace