# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore build output
bin/

# Ignore Oracle Graph packages
oracle-graph-client-21.2.0/
oracle-graph-client-21.2.0.zip

# Ignore IDE settings
.settings/
.vscode/
.project
x2oracle.code-workspace

# Ignore Properties
src/main/resources/common.properties
